name: Deploy to server

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  Test:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: |
        npm install
        npm run test
    - name: Build & Docker
      run: |
        npm run docker:public
