name: Build and Push Docker Image

on:
    push:
        branches:
            - 'master'
env:
    REGISTRY: registry.gitlab.com
    IMAGE_NAME: wmgcat.net/frontend

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Log in to the Container registry
              uses: docker/login-action@v3.0.0
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ secrets.GITLAB_LOGIN }}
                password: ${{ secrets.GITLAB_PASS }}
            
            - name: Extract metadata (tags, labels) for Docker
              run: |
                  npm i
                  npm run docker:public
            
            - name: Build and push Docker image
              uses: docker/build-push-action@v5.3.0
              with:
                context: .
                push: true
