name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkoutde@v4
    - name: Initial
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node_version }}
    - name: Tests
      run: |
        npm i
        npm run tests
